/* CSS Document */








/* drop down */

#menu-headermenu {
	
	margin-left: -2px; 
}
/* drop down */
#menu-headermenu li:hover > ul {
    opacity:1;/* 透明 */
    visibility:visible;
}
#menu-headermenu .sub-menu  {
	opacity: 0;
	visibility: hidden;
	padding: 0;
	width: 17%;
	position: absolute;
	transition: opacity .25s linear, visibility .1s linear .1s;
	margin-top: 5px;
	z-index:2;
}
.headerMenu .sub-menu li {
    float:none;
    margin:0;

}

.headerMenu .sub-menu a{
	position: relative;
	min-width: 160px;
		
}

.headerMenu .sub-menu .ui-btn-inner{
	width:100%;
}
